<div id="banner" role="banner">
	<div class="container" id="heading">
		<h3 class="hidden-phone site-title">
			Knowledge Hub
			<!-- <a class="logo custom-logo" href="/../"
				title="Go to Knowledge Hub"> <img
				alt="Knowledge Hub" height="25"
				src="/image/layout_set_logo?img_id=13084&amp;t=1524261278700"
				width="201">
			</a> -->
		</h3>
	</div>
	<div class="prenavbar">
		<nav class="sort-pages modify-pages navbar site-navigation container"
			id="navigation" role="navigation" style="height: 253px;">
			<div class="navbar-inner">
				<div class="collapse nav-collapse">
					<!-- {% for node in site.pages %}
						<div> {{ node.title }}</div>
						{% endfor %} -->
					<ul aria-label="Site Pages" class="nav nav-collapse" role="menubar">
						
						{% assign sorted_collections = site.pages | sort: "position" %}
							{% for page in sorted_collections %}
							
								{% if page.label != "posts" %}
								{% if page.display == "menu" %}
									<li class="lfr-nav-item dropdown {{ page.title }}" id="layout_2" aria-selected="true" role="presentation">
										
											<a aria-labelledby="layout_2" aria-haspopup="true" class="dropdown-toggle" href="/{{ page.menutitle }}"
											role="menuitem" tabindex="0"
											id="yui_patched_v3_11_0_1_1525785506035_370"> 
											<span>
												{{ page.title }}</span>
											</a>
											<ul>
												{% for subpage in sorted_collections %}
													{% if subpage.label != "posts" %}
														{% if subpage.display == "submenu" %}
															{% if subpage.parent == page.title %}
																<li class="lfr-nav-item {{ subpage.parent }} {{ page.title }}" id="layout_3" role="presentation">
																	<a aria-labelledby="layout_3"
																	href="/{{ subpage.parent }}/{{ subpage.menutitle }}" role="menuitem"
																	tabindex="-1" id="yui_patched_v3_11_0_1_1525785506035_372">
																		<span>{{ subpage.title }}</span></a>
																</li>
															{% endif %}
														{% endif %}
												 	{% endif %}
												{% endfor %}
											</ul>

									</li>
								{% endif %}
								 {% endif %}

							{% endfor %}

						
							
					</ul>
					<!-- <ul class="dropdown-menu child-menu" role="menu">
					{% for page in sorted_collections %}
							
								{% if page.label != "posts" %}
								
											
												{% if page.display == "submenu" %}
													<li class="lfr-nav-item" id="layout_3" role="presentation">
														<a aria-labelledby="layout_3"
														href="/{{ page.parent }}/{{ page.title }}" role="menuitem"
														tabindex="-1" id="yui_patched_v3_11_0_1_1525785506035_372">
															<span>{{ page.title }}</span></a>
													</li>
												{% endif %}
							
										
								
								 {% endif %}

							{% endfor %}
							</ul>  -->
				</div>
			</div>
		</nav>
	</div>
</div>