<div id="sidebar" class="sidebar">
	{% assign sorted_pages = site.pages | sort: "position" %}
	{% for page in sorted_pages %}
		{% if page.label != "posts" %}
			{% if page.display == "menu" %}
				<section id="section_{{ page.title }}" class="section">
					<h6>{{ page.title }}</h6>
					<ul>
						{% for subpage in sorted_pages %}
							{% if subpage.label != "posts" %}
								{% if subpage.display == "submenu" %}
									{% if subpage.parent == page.title %}
										<li class="{{ subpage.parent }} {{ page.title }}">
											<a href="/{{ subpage.parent }}/{{ subpage.title }}">
												{{ subpage.title }}
												{% if subpage.type %}<span class="endpoint {{ doc.type }}"></span>{% endif %}
											</a>
											<ul>
												{% for subsubpage in sorted_pages %}
													{% if subsubpage.label != "posts" %}
														{% if subsubpage.display == "subsubmenu" %}
															{% if subsubpage.subparent == subpage.title %}
															<li class="{{ subsubpage.parent }} {{ subsubpage.subparent }} {{ subsubpage.title }}">
																<a href="/{{ subsubpage.parent }}/{{ subsubpage.subparent }}/{{ subsubpage.title }}">
																	{{ subsubpage.title }}
																	{% if subsubpage.type %}<span class="endpoint {{ doc.type }}"></span>{% endif %}
																</a>
															{% endif %}	
														{% endif %}
													{% endif %}
												{% endfor %}
											</ul>
										</li>
									{% endif %}	
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
				</section>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>
