.editor-link {
 	float: right;
	margin-top: 0;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0;
	font-size: 12px;
	cursor: pointer;
	background-color: #488f06;
	color: #fff;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	    letter-spacing: 0.1px;

	&:hover {
		background-color: #488f06;
		color: #fff;
	}
}

.cms-editor-active .editor-link {
	display: inline-block;
}

.label-success {
    background-color: #488f06;
}